@tailwind base;
@tailwind components;
@tailwind utilities;



.hamberger{
    width: 24px;
    height: 20px;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
    
}
.hamberger-top,
.hamberger-middle,
.hamberger-buttom{
    width: 24px;
    height: 2px;
    top: 0;
    right: 0;
    background-color: white;
    position: absolute;
    transition: all 0.5s;
    transform: rotate(0);

}
.hamberger-middle{
    transform: translateY(7px);
}
.hamberger-buttom{
    transform: translateY(14px);
}
/* With Open hamberger */
.open{
    transform: rotate(90deg) ;
}
.open .hamberger-top{
    transform: rotate(45deg) translateX(6px) translateY(6px) ;
}
.open .hamberger-middle{
    display: none;
}
.open .hamberger-buttom{
    transform: rotate(-45deg) translateX(-6px) translateY(6px); 
}